<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อบริษัท"
          label-for="companyName-input"
          :invalid-feedback="invalidFeedbackcompanyName"
          :valid-feedback="validFeedbackcompanyName"
          :state="statecompanyName"
        >
          <b-form-input
            id="companyName"
            v-model="form.companyName"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="คุณสมบัติที่รับ" label-for="requirePosition-input">
          <b-form-input
            id="requirePosition"
            v-model="form.requirePosition"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="จำนวนที่รับ" label-for="amount-input">
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="companyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        companyName: '',
        requirePosition: '',
        amount: '',
        skill: '',
        work: '',
        service: '',
        gender: null,
        item: ''
      },
      genderOption: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      companyList: [
        {
          id: 1,
          companyName: 'Click Next',
          requirePosition: 'Deverloper',
          amount: '2',
          skill: 'Java',
          work: '5/week',
          service: '300'
        },
        {
          id: 2,
          companyName: 'Apple',
          requirePosition: 'Deverloper',
          amount: '3',
          skill: 'C++',
          work: '4/week',
          service: '880'
        }
      ],
      lastId: 3,
      fields: [
        {
          key: 'id',
          label: 'ลำดับ',
          class: 'text-center'
        },
        {
          key: 'companyName',
          label: 'ชื่อบริษัท'
        },
        {
          key: 'requirePosition',
          label: 'คุณสมบัติที่ต้องการ',
          class: 'text-center'
        },
        {
          key: 'amount',
          label: 'จำนวนที่รับ',
          class: 'text-center'
        },
        {
          key: 'skill',
          label: 'ความสามารถ',
          class: 'text-center'
        },
        {
          key: 'work',
          label: 'เวลาทำงาน',
          class: 'text-center'
        },
        {
          key: 'service',
          label: 'ผลตอบแทน',
          class: 'text-center'
        },
        {
          key: 'operation',
          label: 'edit/delete'
        }
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new User')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Editl' + user)
      this.title = 'แก้ไขข้อมูลบริษัท'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del' + user)
      this.$bvModal
        .msgBoxConfirm('ต้องการลบ ' + user.companyName + ' หรือไม่!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        companyName: '',
        requirePosition: '',
        amount: '',
        skill: '',
        work: '',
        service: '',
        gender: null,
        item: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      //
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.companyList.push(user)
    },
    updateUser (user) {
      const index = this.companyList.findIndex(item => item.id === user.id)
      this.companyList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.companyList.findIndex(item => item.id === user.id)
      this.companyList.splice(index, 1)
    }
  },
  computed: {
    statecompanyName () {
      return this.form.companyName.length >= 2
    },
    invalidFeedbackcompanyName () {
      if (this.form.companyName.length > 2) {
        return ''
      } else if (this.form.companyName.length > 0) {
        return 'ต้องมีขนาดชื่ออย่างน้อย 2 characters'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackcompanyName () {
      return this.statecompanyName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
